
#################
## IDEs
#################

.project
.metadata
bin/**
/target
tmp/**
tmp/**/*
*.tmp
*.bak
*.bat
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.idea/
BetterEnderChest.iml

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Minecraft Server log file
logs/latest.log

############
## Operating systems
############

# Windows image file caches
Thumbs.db 

# Folder config file
Desktop.ini

# Mac crap
.DS_Store


